.custom-navbar {
  height: 80px;
  padding: 0;
  background-color: var(--navbar-bg-color);
}

.navbar-brand {
  color: var(--text-color);

}

.custom-nav-link {
  padding: 30px 0px;
  color: var(--text-color)
}

.custom-nav-link:hover {
  color: var(--hover-text-color);
}

